n8n/telmi-ai-studio.workflow.json
{
  "name": "Telmi AI Studio — génération d’un pack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telmi-ai-studio-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Telmi AI Studio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-720, 0],
      "webhookId": "telmi-ai-studio-generate"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst timestamp = String(headers['x-telmi-timestamp'] ?? '');\nconst nonce = String(headers['x-telmi-nonce'] ?? '');\nconst signature = String(headers['x-telmi-signature'] ?? '');\nconst secret = $env.N8N_SHARED_SECRET;\nconst raw = JSON.stringify(input);\nconst expected = crypto.createHmac('sha256', secret).update(`${timestamp}.${nonce}.${raw}`).digest('hex');\nif (!signature || signature.length !== expected.length || !crypto.timingSafeEqual(Buffer.from(signature), Buffer.from(expected)) || Math.abs(Date.now() - Number(timestamp)) > 300000) throw new Error('Signature Telmi AI Studio invalide');\nconst steps = ['validate', 'tts', 'images'];\nreturn steps.map(step => ({ json: { jobId: input.jobId, callbackBaseUrl: input.callbackBaseUrl.replace(/\\/$/, ''), step } }));"
      },
      "id": "2",
      "name": "Préparer les étapes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 0]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "3",
      "name": "Une étape à la fois",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-280, 0]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst body = '{}';\nconst timestamp = String(Date.now());\nconst nonce = crypto.randomUUID();\nconst secret = $env.N8N_SHARED_SECRET;\nif (!secret || secret.length < 24) throw new Error('N8N_SHARED_SECRET manquant');\nconst signature = crypto.createHmac('sha256', secret).update(`${timestamp}.${nonce}.${body}`).digest('hex');\nreturn [{ json: { ...$json, body, timestamp, nonce, signature } }];"
      },
      "id": "4",
      "name": "Signer la requête",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackBaseUrl + '/api/internal/jobs/' + $json.jobId + '/steps/' + $json.step }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" },
            { "name": "x-telmi-timestamp", "value": "={{ $json.timestamp }}" },
            { "name": "x-telmi-nonce", "value": "={{ $json.nonce }}" },
            { "name": "x-telmi-signature", "value": "={{ $json.signature }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": { "timeout": 900000 }
      },
      "id": "5",
      "name": "Exécuter l’étape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [210, 80]
    }
  ],
  "connections": {
    "Webhook Telmi AI Studio": {
      "main": [[{ "node": "Préparer les étapes", "type": "main", "index": 0 }]]
    },
    "Préparer les étapes": {
      "main": [[{ "node": "Une étape à la fois", "type": "main", "index": 0 }]]
    },
    "Une étape à la fois": {
      "main": [
        [],
        [{ "node": "Signer la requête", "type": "main", "index": 0 }]
      ]
    },
    "Signer la requête": {
      "main": [[{ "node": "Exécuter l’étape", "type": "main", "index": 0 }]]
    },
    "Exécuter l’étape": {
      "main": [[{ "node": "Une étape à la fois", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "versionId": "1d774599-17e5-4c1f-93ca-6df8e3603dd2",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
